body{
    margin: 0;
    height: 100%;
    background: black;
    color:gold;
}

.navbar{
    background-color: chartreuse;
    color:black;
}

.hero{
    background-color: bisque;
    padding: 1rem;
    width: 100%;
}

.logging {
    text-align: right;
    flex: auto;
}

.half-half{
    background: navy;
    color: white;
}

.page-content{
    padding: 5rem;
    /* min-height: calc(85vh - 70px); */
}


.footer{
  background-color: burlywood;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* ***********************  Responsive  ***************************** */
@media (min-width: 428px) and (max-width: 1024px) {
    h2 { font-size: 36px; 
         color:red;
      }
  }
  
  @media (min-width: 0px) and (max-width: 428px) {
    .grid-container { 
      display: contents;
    }
     
  }